.app-content {
height: calc(100% - 60px);
}

.settings-bar {
    position: absolute;
    right: 0;
    top: 80px;
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    z-index: 10;
    background-color: antiquewhite;

}