.app-content {
    height: calc(100% - 60px);
}
.settings-right-open {
    width: calc(100% - 250px);
}
.settings-bar {
    position: absolute;
    right: 0;
    top: 60px;
    height: calc(100% - 60px);
    min-width: 250px;
    max-width: 250px;
    z-index: 10;
    background-color: antiquewhite;

}

.dashboard-menu {
    position: absolute;
    left: 0;
    top: 60px;
    height: calc(100% - 60px);
    min-width: 250px;
    max-width: 250px;
    z-index: 10;
    background-color: antiquewhite;
}