
<section class="app-content" id="kek">
  <portal-target name="settings-bar"></portal-target>
  <grid-layout
  :layout.sync="layout"
  :col-num="12"
  :row-height="30"
  :is-draggable="isEditMode"
  :is-resizable="isEditMode"
  :is-mirrored="false"
  :vertical-compact="true"
  :margin="[10, 10]"
  :use-css-transforms="true"
  >
    <grid-item v-for="item in layout" v-bind:key="item.i"
          :x="item.x"
          :y="item.y"
          :w="item.w"
          :h="item.h"
          :i="item.i"
    >
    <base-widget
      :isEditMode="isEditMode"
      :widgetId="item.i"
      :settings="item.settings"
      @remove="removeWidget"
    >
      <component
      v-bind:is="item.c"
      v-bind:class="{ showTitle: item.settings.showTitle.val }"
      ></component>
  </base-widget>
    </grid-item>
  </grid-layout>
</section>

