// Background colors
$background-color-main: #202225;
$background-color-widget: #0d1823;
$transparent: rgba(255,255,255,0.0);
$sidebar-background-color: #2a2a2e;
// Base colors
$primary-color: #17a2b8;
$secondary-color: #6c757d;
$light-color: #f8f9fa;
$danger-color: #dc3545;
$success-color: #28a745;
$dark-color: #212529;
// gray tones
$gray-light-hard: #dee2e6;
$gray-medium: #2d2d2f;
$gray-dark: #343a40;

// font
$font-color: #f8f9fa;
// custom
$spotify-color: #1DB954;