$themes: (
  dark: (
    backgroundColor: #202225,
    // widgetBackgroundColor: #0f0f0f, 
    widgetBackgroundColor: $navbar-background-color,
    widgetBoxShadow: none,
    widgetBorderRadius: 0px,
    layoutBorderColor: rgba(177, 188, 199, 0.36),
    overlayColor: #343a40,
    menuBackgroundColor: #24262d,
    textColor: $light-color,
    buttonTextColor: #408bbd,
    buttonTextTransform: none,
    buttonTextHoverColor: #61b0e7,
    buttonColor: $light-color,
    buttonBorder: 2px solid #fff,
    chartAxisLabelColor: $light-color,
    scrollbarColor: rgb(255,255,255),
    backgroundGradient: linear-gradient(to right, #191b1f, #26282dfa),
    clockNotchColor: $light-color,
    clockSecondsColor: #edbec5,
    clockHandColor: #7392a0,
    clockTextColor: #daf6ff,
    clockTextShadow: rgba(10, 175, 230, 1),
    navbar-background-color: #18181b,
    navbar-background-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75),
    sidebar-background-color: #2a2a2e,
    sidebar-icon-background-color: #1e1e21,
    sidebar-dropdown-background-color: #1e1e21,
  ),
  light: (
    backgroundColor: #eeeef4,
    widgetBackgroundColor: $light-color, 
    widgetBoxShadow: 0px 0px 2px 0px rgba(0,0,0,0.20),
    widgetBorderRadius: 5px,
    layoutBorderColor: $gray-light-hard,
    overlayColor: #cecece,
    menuBackgroundColor: $light-color,
    textColor: $dark-color,
    buttonTextColor: #aaa,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #ddd,
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
    chartAxisLabelColor: $dark-color,
    scrollbarColor: rgb(0,0,0),
    backgroundGradient: linear-gradient(to right, #e0e0e0, #d2d2d2fa),
    clockNotchColor: $dark-color,
    clockSecondsColor:  $primary-color,
    clockHandColor: $gray-medium,
    clockTextColor: #0a5d77,
    clockTextShadow: $dark-color,
    navbar-background-color: #ffffff,
    navbar-background-shadow: 0px 2px 0px 0px rgb(197, 197, 197),
    sidebar-background-color: #ffffff,
    sidebar-icon-background-color: #d7dee4,
    sidebar-dropdown-background-color: #c3c3c3,
  ),
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
  
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
  
        @content;
        $theme-map: null !global;
      }
  
    }
}
  
@function themed($key) {
    @return map-get($theme-map, $key);
}