.base-widget {
    background-color: grey;
    height: 100%;
}

/* .base-widget > section {
} */

.base-title {
    font-size: 1.5em;
    max-height: 28px;
}

.showTitle {
    height: calc(100% - 28px);
}